#articleone {
   border:1px solid black; 
   width:340px;
   height:460px;
   display:none;
   background-color:white;
}

#laneone{
    border:1px solid black;
    width:330px;
    height:100px;
    margin:auto;
    margin-top:5px;
    background-color:#188ace;
}

#lanetwo{
    border:1px solid black;
    width:330px;
    height:100px;
    margin:auto;
    margin-top:5px;
    background-color:#4acf18;
}

#controles{
    border:1px solid black;
    width:330px;
    height:100px;
    margin:auto;
    margin-top:5px;
    background-color:#9c79ad;
}

#go{
    margin-top:15px;
    margin-left:130px;
    width:70px;
    height:70px;
    display:block;
    position:absolute;
}

#carone{
    margin-top:35px;
    width:30px;
    height:30px;
    border:1px solid black;
    background-color:blue;
}

#cartwo{
    margin-top:35px;
    width:30px;
    height:30px;
    border:1px solid black;
    background-color:green;
}

#charge{
    margin-top:15px;
    margin-left:130px;
    width:65px;
    height:65px;
    display:block;
    border:3px solid red;
    position:absolute;
    display:none;
    -webkit-animation:spin 3s linear infinite;
}
@-webkit-keyframes spin{
    100%{-webkit-transform:rotate(360deg);}
}


#pcharge{
    margin-left:135px;
    margin-top:40px;
    font-size:13px;
    position:absolute;
    display:none;
    
}

#bets{
    border:1px solid black;
    width:330px;
    height:100px;
    margin:auto;
    margin-top:5px;
    background-color:#d6df42;
}

#coins{
    margin-top:25px;
    margin-left:25px;
    width:150px;
    height:50px;
    border:1px solid black;
    background-color:white;
}

#pcoins{
    font-size:30px;
    position:absolute;
    margin-top:5px;
    margin-left:5px;
}

#blue{
    float:right;
    margin-top:10px;
    margin-right:2px;
    width:30px;
    height:30px;
    border:1px solid black;
    background-color:blue;
}

#green{
    float:right;
    margin-top:60px;
    margin-right:-66px;
    width:30px;
    height:30px;
    border:1px solid black;
    background-color:green;
}

#bluebet{
    float:right;
    margin-top:10px;
    margin-right:2px;
    width:30px;
    height:30px;
    border:1px solid black;
    background-color:white;
}

#greenbet{
    float:right;
    margin-top:60px;
    left:32px;
    width:30px;
    height:30px;
    border:1px solid black;
    position:relative;
    background-color:white;
}

#bluebetp{
    font-size:25px;
    margin-top:-1px;
}

#greenbetp{
    font-size:25px;
    margin-top:-1px;
}

#blueplus{
    float:right;
    margin-top:10px;
    margin-left:227px;
    width:32px;
    height:32px;
    display:block;
    position:absolute;
}

#blueminis{
    float:right;
    margin-top:10px;
    margin-left:193px;
    width:32px;
    height:32px;
    position:absolute;
    display:none;
}

#greenplus{
    float:right;
    margin-top:-63px;
    margin-left:-36px;
    width:32px;
    height:32px;
    display:block;
    position:absolute;
}

#greenminis{
    float:right;
    margin-top:-63px;
    margin-left:-70px;
    width:32px;
    height:32px;
    display:none;
    position:absolute;
}

#bottomp{
    margin-top:5px;
    margin-left:65px;
}

#twitter{
    width:90px;
    height:90px;
    float:left;
    margin-top:5px;
}

#mypick{
    margin-top:20px;
    margin-right:20px;
    width:50px;
    height:60px;
    float:right;
    position:relative;
    border-radius:10%;
}

#articletwo{
   border:1px solid black; 
   width:340px;
   height:460px;
   display:block;
   background-color:#188ace;
}

#start{
    width:100px;
    height:60px;
    margin-top:350px;
    margin-left:120px;
    position:relative ;
    
}

#hone{
    position:absolute ;
    font-size:50px;
    margin-left:25px;
}

