body{
	background:url(Background2.jpg);	
}
#divone{	
	margin:auto;
	width:900;
	height:80;
	border:3px solid #9c1410;
	border-radius:20%;

}
h1{	font-size:50px;
	text-align:center;
	color:#9c1410;
	margin:auto;
}


#divthree{
	width:900;
	height:800;
	border-radius:5%;
	opacity:0.9;
	margin:auto;
	border:1px solid black;
	background-color:#9c1410;
	margin-top:50;
}

#logo{
	width:50;
	height:50p;
	border:3px solid #9c1410;
	background-color:Black;
	border-radius:100%;
	float:right;
	margin-top:-48;
	margin-right:50;
	
}	
#imgone{
	margin-top:5px;
	margin-left:10px;
}

