body{
	background-color:#6bb6a5;
	background-image:url("Image2.png"); 
}
#artone{	
	margin:auto;
	width:97vw;
	height:100px;
	border:5px solid black;
	background-color:white;
	opacity:0.9;
}

#arttwo{
	margin:auto;	
	margin-top:10px;
	width:97vw;
	height:50px;
	border:1px solid black;
	background-color:white;
	opacity:0.9;

}

#hone{
	font-size:5vw;
	margin-top:15px;
	margin-left:16.5vw;
	position:absolute;
}

#imgone{	
	
	width:60px;
	height:80px;
	position:absolute;
	margin-top:0.7vw;
	margin-left:76.5vw;
	border-radius:1vw;
}

#pAbout{
	float:left;
	margin-top:1vw;
	margin-left:17vw;
	position:absolute;
	cursor: pointer;
}

#pcode{
	float:left;
	margin-top:1vw;
	margin-left:33vw;
	position:absolute;
	cursor: pointer;
	color:black;
}

#pBlog{
	float:left;
	margin-top:1vw;
	margin-left:60vw;
	position:absolute;
	cursor: pointer;
}

#pFollow{
	float:left;
	margin-top:1vw;
	margin-left:75vw;
	position:absolute;
	cursor: pointer;
}

#artAbout{
	margin:auto;
	margin-top:10px;
	width:97vw;
	height:100vw;
	border:1px solid black;
	background-color:white;
	display:block;
}

#artCode{
	margin:auto;
	margin-top:10px;
	width:97vw;
	height:100vw;
	border:1px solid black;
	background-color:white;
	display:none;
}

#artblog{
	margin:auto;
	margin-top:10px;
	width:97vw;
	height:100vw;
	border:1px solid black;
	background-color:white;
	display:none;
}

#artFollw{
	margin:auto;
	margin-top:10px;
	width:97vw;
	height:100vw;
	border:1px solid black;
	background-color:white;
	display:none;
}

#gearone{
	width:150px;
	height:150px;
	margin-top:10px;
	margin-left:300px;
	position:absolute;
	-webkit-animation:spin 5s linear infinite;
}
@-webkit-keyframes spin{
	100%{-webkit-transform: rotate(360deg);}
}

#geartwo{
	width:100px;
	height:100px;
	margin-top:150px;
	margin-left:430px;
	position:absolute;
	-webkit-animation:spintwo 6s linear infinite;
}
@-webkit-keyframes spintwo{
	100%{-webkit-transform: rotate(-360deg);}
}

#blogunder{	
	margin-top:250px;
	margin-left:250px;
	position:absolute;
	font-size:2vw;
}

#imgtwo{
	margin:auto;
	width:100px;
	height:100px;
	margin-top:10vw;
	margin-left:5vw;
}
#imgsololearn{
	margin:auto;
	width:100px;
	height:100px;
	margin-top:10vw;
	margin-left:5vw;
}

#imgbr{
	width:200px;
	height:300px;
	margin-left:1vw;
	margin-top:1vw;	
}

#buttonbr{
	float:left;
	position:absolute;
	width:100px;
	height:50px;
	margin-top:320px;
	margin-left:-150px;

}

#christoimg{
	float:left;
	width:200px;
	height:400px;
}

#aboutp{
	float:left;
	margin-top:80px;
	margin-left:10vw;
	font-size:1.2vw;
}













































